extends layout

block content
  .container
    h1= header
    p Welcome #{title} #{name}
    .row
      .col-md-4
        .well
            h2 hardware problems?
            p
                | Blank monitors are among the most common computer problems. Most people who have computers will have dealt with non-working blank monitor at least once. The first thing to do is to check the supply cord and power systems. Sometimes, the video cable may be loosened. In this case, push the video cable into place again. If you can access another monitor, connect it to the CPU and see if it works. If it does, the problem is in the monitor or its wire.
      .col-md-4
        .well
            h2 Software Problems?
            p
                | It may seem obvious that in order to be able to solve a problem, we have to first understand it. Nothing is farther from reality in the IT business. It is not uncommon in my profession to see entire applications and architectures flawed and crippled by initial misunderstandings of a problem or requirement. While spending time to deeply understand what we have to build may not sound like the most ‘agile’ thing to do, the price to pay for a faulty start could be quite high
      .col-md-4
        .well
            h2 PC Tips?
            p
                | While you’re at it, make sure that your operating system is fully updated by running Windows Update. Neglecting updates could deprive you of important bug and performance fixes. If you’re having problems with a peripheral, try switching it on and off. If that doesn’t work, try disconnecting and reconnecting the device. As a last resort, download the latest drivers and perform a full reinstall.

