body{
    display: flex;
}
.container {
    flex: 1 0 auto;
}
.right{
    float: right;
    letter-spacing: 1px;
}
.center {
    text-align: center;
    padding-bottom: 5px;
    margin-top: 8px;
}
.highlight:hover {
    border-color: #B9B9F8;
    box-shadow: 1em;
    background-color: #F0F0FC;
}
.title {
    text-align: center;
    text-transform: capitalize;
    margin-top: 35px;
    margin-bottom: 25px;
}
button.submit {
    width: 150px;
    letter-spacing: 1px;
    font-size: 2rem;
}
.google_map iframe {
    height: 700px !important;
}